html {
    height:100%
}

body {
    margin:0;
    background:#162b69;
    height:100%;
}

video {
    object-fit: fill;
    cursor:pointer;
    width:100%;
    height:100%
}

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #2342a0;
  outline: 1px solid #2342a0;
}